<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}"></title>
</head>
<body>
    <nav></nav> <!-- just copy the navbar -->
    <main>
        <h1 th:text="${recipe.name}" id="name"></h1>
        <div id="author">By: <span th:text="${recipe.author}"></span></div>
        <hr>
        <p th:text="${recipe.description}" id="description"></p>
        <ul>
            <li id="prep-time">⏲️ Preparation time: <span th:text="${recipe.prepTimeMinutes}"></span> minutes</li>
            <li id="cook-time">🍳 Cooking time: <span th:text="${recipe.cookTimeMinutes}"></span> minutes</li>
        </ul>
        <section>
            <h2>Ingredients</h2>
            <ul><li></li></ul>
        </section>
        <section>
            <h2>Directions</h2>
            <ul><li></li></ul>
        </section>
        <hr>
        <ul id="tags"><li></li></ul>
    </main>
</body>
</html>