<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Recipes</title>
</head>
<body>
    <nav id="navbar" class="nav">
        <ul class="nav-list">
          <li>
            <a href="">Submit a recipe</a>
          </li>
          <li>
            <a href="">Delete a recipe</a>
          </li>
        </ul>
      </nav>
    <header>
        <h1>Spring Recipes</h1>
        <blockquote>
            <p>"Let food be thy medicine and medicine be thy food"</p>
            <p>-Hippocrates</p>                        
        </blockquote>
    </header>
    <main>
        <ul>
            <li th:each="recipe : ${recipes}"><a th:text="${recipe.name}">Spaghetti with meatballs</a></li>
        </ul>
    </main>
</body>
</html>