<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Recipes</title>
    <link th:href="@{/styles/frontpage-styles.css}" rel="stylesheet" />
</head>
<body>
    <nav id="navbar" class="nav">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Submit a recipe</a></li>
        </ul>
    </nav>
    <header>
        <h1>Spring Recipes</h1>
        <blockquote>
            <p>"Let food be thy medicine and medicine be thy food"</p>
            <p>-Hippocrates</p>                        
        </blockquote>
    </header>
    <main>
        <ul>
            <li th:each="recipe : ${recipes}"><a th:href="@{/{name}(name=${recipe.name})}" th:text="${recipe.name}"></a></li>
        </ul>
    </main>
    <footer>
        <section id="about-project">
            <h3>About project</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Optio libero nulla, nostrum, quaerat sunt in labore itaque
                  nisi necessitatibus similique
                 eaque voluptates cupiditate qui fugit obcaecati expedita non molestias excepturi.</p>
            <!-- Write about why was this made, how the website works and tech stack-->
            <!-- add Github link-->
        </section>
    </footer>
</body>
</html>