<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav></nav> <!-- just copy the navbar -->
    <main>
        <h1 id="name"></h1>
        <div id="author">By:<span id="author-name"></span></div>
        <hr>
        <p id="description"></p>
        <ul>
            <li id="prep-time">⏲️ Preparation time: <span></span> minutes</li>
            <li id="cook-time">🍳 Cooking time: <span></span> minutes</li>
        </ul>
        <section>
            <h2>Ingredients</h2>
            <ul><li></li></ul>
        </section>
        <section>
            <h2>Directions</h2>
            <ul><li></li></ul>
        </section>
        <hr>
        <ul id="tags"><li></li></ul>
    </main>
</body>
</html>