:root {
    --main-green: #6db33f;
    --accent-green: #9ccc65;
    --light-green: #c5e1a5;
    --off-white: #fbf0d1;
    --dark-gray: #333;
}

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: var(--dark-gray);
    background-color: var(--off-white);
    margin:0;
}

#navbar {
    background-color: var(--main-green);
    padding: 10px;
    margin: 0;
}

.nav-list {
    font-size: 1.5rem;
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li a {
    color: var(--dark-gray);
    text-decoration: none;
    font-weight: bold;
}

header {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 4em;
    color: var(--main-green);
}

blockquote {
    font-size: 1.2em;
    font-style: italic;
    color: var(--dark-gray);
    margin: 20px auto;
    padding: 20px;
    background-color: var(--light-green);
    border: 5px solid var(--accent-green);
    max-width: 1000px;
}

/* Recipe list */
#recipes-list {
    list-style: none;
    margin-top: 50px;
}

.recipe-item a {
    font-size: 1.5rem;
    color: var(--dark-gray);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 10px;
    background-color: var(--light-green);
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 1000px;
}

.recipe-item a:hover {
    background-color: var(--accent-green);
    color: var(--off-white);
}

footer {
    margin-top: 50px;
    text-align: center;
}

#about-project {
    font-size: 1.2em;
    color: var(--dark-gray);
    margin-bottom: 20px;
}

#about-project a {
    color: var(--main-green);
    text-decoration: none;
    font-weight: bold;
}
